@import '_variables.scss';

* {
  box-sizing: border-box;
}
body {
  color: $primaryColor;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: $primaryFont;
}
h1,
h2,
h3 {
  font-weight: 400;
}
a {
  color: $secondaryColor;
  text-decoration: none;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A1C91C #fff;
}
/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: #A1C91C;
  border-radius: 5rem;
  border: 3px solid #fff;
}